@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


/* custom font */
@theme {
  --font-jost: "Jost", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-jost);
  }
}



@theme {
  /*  color */

  /* text */
  --color-brand-primary: #3CD690; 
  /* bg color (main) */
  --color-text-primary: #1E1E1E; 
  /* // for all text  */
  --color-text-secondary: #5F6368;
  /* light text color */

  /* --color-text-inverse: #FFFFFF; */


  /* background */
  --color-bg-page: #FAFAFA;
  --color-bg-surface: #FFFFFF;
  --color-bg-card1: #BAD7F2;
  --color-bg-card2: #F2E2BA;
  --color-bg-card3: #BAF2D8;
  --color-bg-section: #EBFBF4;

  /* border */
  --color-border-default: #E6E6E6;

  /* state */
  --color-state-success: #2E7D32;
  --color-state-warning: #F9A925;
  --color-state-error: #C62828;
  --color-state-info: #008ACB;





  /* height and width */
  --size-sm: 32px;
  --size-md: 40px;
  --size-lg: 48px;



  /* Spacing */
  --space-2: 8px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;

  /* font Weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;



  /* Font Sizes */
  --text-32: 2rem;
  /* 32px */
  --text-24: 1.5rem;
  /* 24px */
  --text-20: 1.25rem;
  /* 20px */
  --text-16: 1rem;
  /* 16px */
  --text-15: 0.9375rem;
  /* 15px */
  --text-13: 0.8125rem;
  /* 13px */

}



@layer utilities {

  /* text-color */
  .text-brand-primary {
    color: var(--color-brand-primary);
  }

  .text-primary {
    color: var(--color-text-primary);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }


  /* background */
  .bg-page {
    background-color: var(--color-bg-page);
  }

  .bg-brand {
    background-color: var(--color-brand-primary);
  }

  .bg-surface {
    background-color: var(--color-bg-surface);
  }

  .bg-card1 {
    background-color: var(--color-bg-card1);
  }

  .bg-card2 {
    background-color: var(--color-bg-card2);
  }

  .bg-card3 {
    background-color: var(--color-bg-card3);
  }

  .bg-section {
    background-color: var(--color-bg-section);
  }

  /* border */
  .border-default {
    border: 2px solid var(--color-border-default);
  }
  .border-brand-primary {
    border: 2px solid var(--color-brand-primary);
  }

  .border-text-primary {
    border: 1px solid var(--color-text-primary);
  }

  .border-text-secondary {
    border: 1px solid var(--color-text-secondary);
  }

  /* .border-text-secondary {
    border: 3px solid var(--color-brand-primary);
  } */

  /* width */
  .w-8 {
    width: var(--size-sm);
    /* 32px */
  }

  .w-10 {
    width: var(--size-md);
    /* 40px */
  }

  .w-12 {
    width: var(--size-lg);
    /* 48px */
  }


  /* height */

  .h-8 {
    height: var(--size-sm);
    /* 32px */
  }

  .h-10 {
    height: var(--size-md);
    /* 40px */
  }

  .h-12 {
    height: var(--size-lg);
    /* 48px */
  }


  /* padding */

  .p-2 {
    padding: var(--space-2);
  }

  /* 8px */

  .p-4 {
    padding: var(--space-4);
  }

  /* 16px */

  .p-6 {
    padding: var(--space-6);
  }

  /* 24px */

  .p-8 {
    padding: var(--space-8);
  }

  /* 32px */

  .p-10 {
    padding: var(--space-10);
  }

  /* 40px */

  .p-12 {
    padding: var(--space-12);
  }

  /* 48px */



  /* padding-x */

  .px-2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }

  /* 8px */

  .px-4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  /* 16px */

  .px-6 {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }

  /* 24px */
  .px-8 {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }

  /* 32px */
  .px-10 {
    padding-left: var(--space-10);
    padding-right: var(--space-10);
  }

  /* 40px */
  .px-12 {
    padding-left: var(--space-12);
    padding-right: var(--space-12);
  }

  /* 48px */


  /* padding-y */

  .py-2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
  }

  /* 8px */

  .py-4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
  }

  /* 16px */

  .py-6 {
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
  }

  /* 24px */
  .py-8 {
    padding-top: var(--space-8);
    padding-bottom: var(--space-8);
  }

  /* 32px */
  .py-10 {
    padding-top: var(--space-10);
    padding-bottom: var(--space-10);
  }

  /* 40px */
  .py-12 {
    padding-top: var(--space-12);
    padding-bottom: var(--space-12);
  }

  /* 48px */


  /* padding-top */
  .pt-2 {
    padding-top: var(--space-2);
  }

  /* 8px */

  .pt-4 {
    padding-top: var(--space-4);
  }

  /* 16px */

  .pt-6 {
    padding-top: var(--space-6);
  }

  /* 24px */

  .pt-8 {
    padding-top: var(--space-8);
  }

  /* 32px */

  .pt-10 {
    padding-top: var(--space-10);
  }

  /* 40px */

  .pt-12 {
    padding-top: var(--space-12);
  }

  /* 48px */


  /* padding-bottom */
  .pb-2 {
    padding-bottom: var(--space-2);
  }

  /* 8px */

  .pb-4 {
    padding-bottom: var(--space-4);
  }

  /* 16px */

  .pb-6 {
    padding-bottom: var(--space-6);
  }

  /* 24px */

  .pb-8 {
    padding-bottom: var(--space-8);
  }

  /* 32px */

  .pb-10 {
    padding-bottom: var(--space-10);
  }

  /* 40px */

  .pb-12 {
    padding-bottom: var(--space-12);
  }

  /* 48px */



  /* padding left */

  .pl-2 {
    padding-left: var(--space-2);
  }

  /* 8px */

  .pl-4 {
    padding-left: var(--space-4);
  }

  /* 16px */

  .pl-6 {
    padding-left: var(--space-6);
  }

  /* 24px */

  .pl-8 {
    padding-left: var(--space-8);
  }

  /* 32px */

  .pl-10 {
    padding-left: var(--space-10);
  }

  /* 40px */

  .pl-12 {
    padding-left: var(--space-12);
  }

  /* 48px */



  /* padding right */

  .pr-2 {
    padding-right: var(--space-2);
  }

  /* 8px */

  .pr-4 {
    padding-right: var(--space-4);
  }

  /* 16px */

  .pr-6 {
    padding-right: var(--space-6);
  }

  /* 24px */

  .pr-8 {
    padding-right: var(--space-8);
  }

  /* 32px */

  .pr-10 {
    padding-right: var(--space-10);
  }

  /* 40px */

  .pr-12 {
    padding-right: var(--space-12);
  }

  /* 48px */




  /* margin */

  .m-2 {
    margin: var(--space-2);
  }

  /* 8px */

  .m-4 {
    margin: var(--space-4);
  }

  /* 16px */

  .m-6 {
    margin: var(--space-6);
  }

  /* 24px */

  .m-8 {
    margin: var(--space-8);
  }

  /* 32px */

  .m-10 {
    margin: var(--space-10);
  }

  /* 40px */

  .m-12 {
    margin: var(--space-12);
  }

  /* 48px */



  /* margin-x */

  .mx-2 {
    margin-left: var(--space-2);
    margin-right: var(--space-2);
  }

  /* 8px */

  .mx-4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
  }

  /* 16px */

  .mx-6 {
    margin-left: var(--space-6);
    margin-right: var(--space-6);
  }

  /* 24px */
  .mx-8 {
    margin-left: var(--space-8);
    margin-right: var(--space-8);
  }

  /* 32px */
  .mx-10 {
    margin-left: var(--space-10);
    margin-right: var(--space-10);
  }

  /* 40px */
  .mx-12 {
    margin-left: var(--space-12);
    margin-right: var(--space-12);
  }

  /* 48px */


  /* margin-y */

  .my-2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
  }

  /* 8px */

  .my-4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
  }

  /* 16px */

  .my-6 {
    margin-top: var(--space-6);
    margin-bottom: var(--space-6);
  }

  /* 24px */
  .my-8 {
    margin-top: var(--space-8);
    margin-bottom: var(--space-8);
  }

  /* 32px */
  .my-10 {
    margin-top: var(--space-10);
    margin-bottom: var(--space-10);
  }

  /* 40px */
  .my-12 {
    margin-top: var(--space-12);
    margin-bottom: var(--space-12);
  }

  /* 48px */


  /* margin-top */
  .mt-2 {
    margin-top: var(--space-2);
  }

  /* 8px */

  .mt-4 {
    margin-top: var(--space-4);
  }

  /* 16px */
  .mt-6 {
    margin-top: var(--space-6);
  }

  /* 24px */

  .mt-8 {
    margin-top: var(--space-8);
  }

  /* 32px */

  .mt-10 {
    margin-top: var(--space-10);
  }

  /* 40px */

  .mt-12 {
    margin-top: var(--space-12);
  }

  /* 48px */


  /* margin-bottom */
  .mb-2 {
    margin-bottom: var(--space-2);
  }

  /* 8px */

  .mb-4 {
    margin-bottom: var(--space-4);
  }

  /* 16px */

  .mb-6 {
    margin-bottom: var(--space-6);
  }

  /* 24px */

  .mb-8 {
    margin-bottom: var(--space-8);
  }

  /* 32px */

  .mb-10 {
    margin-bottom: var(--space-10);
  }

  /* 40px */

  .mb-12 {
    margin-bottom: var(--space-12);
  }

  /* 48px */



  /* margin left */

  .ml-2 {
    margin-left: var(--space-2);
  }

  /* 8px */

  .ml-4 {
    margin-left: var(--space-4);
  }

  /* 16px */

  .ml-6 {
    margin-left: var(--space-6);
  }

  /* 24px */

  .ml-8 {
    margin-left: var(--space-8);
  }

  /* 32px */

  .ml-10 {
    margin-left: var(--space-10);
  }

  /* 40px */

  .ml-12 {
    margin-left: var(--space-12);
  }

  /* 48px */



  /* margin right */

  .mr-2 {
    margin-right: var(--space-2);
  }

  /* 8px */

  .mr-4 {
    margin-right: var(--space-4);
  }

  /* 16px */

  .mr-6 {
    margin-right: var(--space-6);
  }

  /* 24px */

  .mr-8 {
    margin-right: var(--space-8);
  }

  /* 32px */

  .mr-10 {
    margin-right: var(--space-10);
  }

  /* 40px */

  .mr-12 {
    margin-right: var(--space-12);
  }

  /* 48px */


  /* font weight */
  .font-regular {
    font-weight: var(--font-regular);
    /* 400 */
  }

  .font-medium {
    font-weight: var(--font-medium);
    /* 500 */
  }

  .font-semibold {
    font-weight: var(--font-semibold);
    /* 600 */
  }


  /* font-size */
  .text-32 {
    font-size: var(--text-32);
    /* 32px */
  }

  .text-24 {
    font-size: var(--text-24);
    /* 24px */
  }

  .text-20 {
    font-size: var(--text-20);
    /* 20px */
  }

  .text-16 {
    font-size: var(--text-16);
    /* 16px */
  }

  .text-15 {
    font-size: var(--text-15);
    /* 15px */
  }

  .text-13 {
    font-size: var(--text-13);
    /* 13px */
  }
}



.active{
  text-decoration: underline;font-weight: 500;
}


.hero-bg-img{background-image: url("assets/hero.svg");background-repeat: no-repeat;background-position: center;background-size: cover;}
.reportlisting-bg-img{background-image: url("assets/reportListing.svg");background-repeat: no-repeat;background-position: center;background-size: cover;}